@model AutoServiceShopClient.Data.Entity.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('div.hidden').fadeIn(1500).removeClass('hidden');
        });
    </script>
    <meta name="viewport" content="width=device-width" />
    <title>Update</title>
    <style>
        div.hidden {
            display: none
        }

        .container {
            height: 400px;
            width: 200px;
            position: relative;
            border: 3px solid #007AFF;
            display: flex;
            align-items: center;
            margin-top: 15%;
        }

        .center {
            margin: 0;
            position: absolute;
            top: 30%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .button-center {
            margin: 0;
            position: absolute;
            top: 75%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .field-validation-error {
            color: red;
        }

        body {
            background-image: url('https://cdn3.f-cdn.com/contestentries/1476645/14106457/5c7905a19aaa6_thumb900.jpg');
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="hidden  container rounded p-3 mb-2 bg-primary text-white center">
        @using (Html.BeginForm("UpdateInfo", "User", FormMethod.Post))
        {
            <table style="font-family: Arial, Helvetica, sans-serif;">
                <tr>
                    <td></td>
                    <td class="display-4 font-weight-bold">Update the selected User</td>
                </tr>
                <tr>
                    <td>Old User ID: </td>
                    <td>@ViewBag.UserId</td>
                </tr>
                <tr>
                    <td> @Html.LabelFor(model => model.Active)  </td>
                    <td> @Html.EditorFor(model => model.Active)</td>
                </tr>
                <tr>
                    <td> @Html.LabelFor(model => model.Username)  </td>
                    <td> @Html.EditorFor(model => model.Username)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => model.Username)</td>
                </tr>
                <tr>
                    <td> @Html.LabelFor(model => model.Password)</td>
                    <td> @Html.EditorFor(model => model.Password)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => model.Password)</td>
                </tr>
                <tr></tr>
                <tr>
                    <td></td>
                    <td>
                        <button type="submit" class="btn btn-primary btn-outline-primary btn-rounded">Update User</button>
                        <button type="reset" class="btn btn-primary btn-outline-primary btn-rounded">Clear</button>
                    </td>
                </tr>
            </table>
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
            <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
            <input type="hidden" name="oldUserId" value="@ViewBag.UserId" />
        }
    </div>
    <div class="hidden button-center" style="width: 200px;">
        @using (Html.BeginForm("Index", "Home"))
        {
            <button type="submit" class="btn btn-primary btn-outline-primary btn-rounded btn-lg btn-block">Home</button>
        }
    </div>
</body>
</html>
