@model AutoServiceShopClient.Data.Entity.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('div.hidden').fadeIn(1500).removeClass('hidden');
        });
    </script>
    <meta name="viewport" content="width=device-width" />
    <title>User Update</title>
    <style>
        div.hidden {
            display: none
        }

        .container {
            height: 400px;
            width: 200px;
            position: relative;
            border: 3px solid #007AFF;
            display: flex;
            align-items: center;
            margin-top: 15%;
        }

        .center {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .button-center {
            margin: 0;
            position: absolute;
            top: 80%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .field-validation-error {
            color: red;
        }

        body {
            background-image: url('https://cdn3.f-cdn.com/contestentries/1476645/14106457/5c7905a19aaa6_thumb900.jpg');
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="hidden container rounded p-3 mb-2 bg-primary text-white ">
        @using (Html.BeginForm("Delete", "CurrentUser", FormMethod.Post))
        {
        <p class="text-center display-4 font-weight-bold">Enter your credentials</p>
        <table class="center" style="font-family: Arial, Helvetica, sans-serif;
">
            <tr>
            </tr>
            <tr>
                <td class="float-right"> @Html.LabelFor(model => model.Username)  </td>
                <td> @Html.EditorFor(model => model.Username)</td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.ValidationMessageFor(model => model.Username)</td>
            </tr>
            <tr>
                <td class="float-right"> @Html.LabelFor(model => model.Password)</td>
                <td> @Html.EditorFor(model => model.Password)</td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.ValidationMessageFor(model => model.Password)</td>
            </tr>
            <tr></tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit" class="btn btn-primary btn-outline-primary btn-rounded">Delete Me</button>
                    <button type="reset" class="btn btn-primary btn-outline-primary btn-rounded">Clear</button>
                </td>
            </tr>
            <tr></tr>
        </table>
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
            <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        }
        
    </div>
    <div class=" hidden button-center" style=" width: 200px">
        @using (Html.BeginForm("CurrentUserIndex", "CurrentUser"))
        {
            <button type="submit" class="btn btn-primary btn-outline-primary btn-rounded btn-lg btn-block">Return to panel</button>
        }
    </div>
</body>
</html>
